img{
    width:543px;
    height:435px;
}
.container
{
    display:flex;
    flex-direction: row;
    border: 5px solid black;
    padding: 20px;
    background-color: beige;
}
p{
    margin-right: 10px;
    max-width: auto;
}